# App
NEXT_PUBLIC_SITE_URL=https://dualitydomain.com

# Contact Form (Optional)
NEXT_PUBLIC_CONTACT_EMAIL=dualitydomainoficial@gmail.com
NEXT_PUBLIC_CONTACT_PHONE=+543546501537

# Social Media
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/dualitydomain

# Analytics (Optional)
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_MICROSOFT_CLARITY_ID=

